<div class="header-menu-container">
    <mat-toolbar color="primary" class="header-menu-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
  </button>
        <h1 class="header-menu-app-name">Korotin WebApp</h1>
    </mat-toolbar>

    <mat-sidenav-container>
        <mat-sidenav #snav mode="side" class="sidenav-container">
            <mat-nav-list class="menu-list">
                <a mat-list-item routerLink="home"><i class="material-icons">home</i></a>
                <a mat-list-item routerLink="contacts"><i class="material-icons">contacts</i></a>
                <a mat-list-item routerLink="login"><i class="material-icons">vpn_key</i></a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="content-container">
            <mat-card>
                <router-outlet></router-outlet>
            </mat-card>
        </mat-sidenav-content>


    </mat-sidenav-container>
</div>