
<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <div class="header-form-container">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Поиск">
      </mat-form-field>
      <button mat-button routerLink="/registration" (click)="getHeader()" routerLinkActive="active" >Добавить</button>
    </div>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Имя </mat-header-cell>
      <mat-cell (click)="focusPerson(element.id)" *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Фамилия </mat-header-cell>
      <mat-cell (click)="focusPerson(element.id)" *matCellDef="let element"> {{element.surname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Телефон </mat-header-cell>
      <mat-cell (click)="focusPerson(element.id)" *matCellDef="let element"> +38{{element.phone}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
</div>
