.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 3em;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 800px;
  }
  .header-form-container{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
  }
  .mat-row:nth-child(2n){
    background: rgba(231, 231, 231, 0.486);
  }
button.mat-raised-button{
  margin: 1em;
}
.deleteButton{
    background: transparent;
    border: none;
    opacity: 0.1;
    cursor: pointer;
  }
.deleteButton:hover{
    opacity: 0.8
  }

.cellWithDelete{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .cellWithContact{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }