.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 3em;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 800px;
  }
  .header-form-container{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
  }
  .mat-row:hover{
    background-color: rgba(115, 107, 151, 0.301);
    cursor: pointer;
  }
  .mat-row:nth-child(2n){
    background: rgba(231, 231, 231, 0.486);
  }
  .mat-row:nth-child(2n):hover{
    background-color: rgba(115, 107, 151, 0.301);
  }
  .mat-raised-button{
    margin: 1em;
  }
  .mat-raised-button:hover{
    background: rgba(120, 121, 204, 0.431);
    transition: background 0.5s ease-in-out 0s ;
  }